# Netflix_Titles - Cleaning and Transformation

## Importing necessary Library

In [84]:
import pandas as pd

## Reading the CSV file

In [85]:
pd.set_option('display.max_columns',None)
df = pd.read_csv(r'C:\Users\w10\Downloads\netflix_titles.csv',encoding = 'unicode_escape')
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5597,80113201,TV Show,Skylanders Academy,NaN,"Justin Long, Ashley Tisdale, Jonathan Banks, C...","South Korea, United States","September 28, 2018",2018,TV-Y7,3 Seasons,"Kids' TV, TV Comedies",Travel the vast Skylander universe in this ani...
3671,80020036,Movie,Monster High: Fright On!,"Victor Dal Chele, Alfred Gimeno","Kate Higgins, Debi Derryberry, Salli Saffioti,...",United States,"January 1, 2018",2011,TV-Y7,46 min,Children & Family Movies,Big changes are afoot at Monster High when adm...
271,81132438,Movie,Locked on You,KÄ±vanÃ§ BaruÃ¶nÃ¼,"Ata Demirer, Demet AkbaÄ, Gonca Vuslateri, Ä°...",Turkey,"September 13, 2019",2018,TV-14,105 min,"Comedies, International Movies","When his chatty nature lands him in trouble, a..."
4374,80134885,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
4074,80127604,Movie,Indiscretion,John Stewart Muller,"Mira Sorvino, Cary Elwes, Christopher Backus, ...",United States,"February 1, 2017",2016,TV-MA,99 min,"Dramas, Thrillers","After a weekend fling with artist Victor, Vero..."
1418,81030409,Movie,The House of Flowers Presents: The Funeral,Manolo Caro,"Cecilia SuÃ¡rez, Aislinn Derbez, Dario Yazbek,...",NaN,"November 1, 2019",2019,TV-MA,36 min,Movies,The de la Mora siblings publicly mourn the dea...
5117,80230018,TV Show,Switched,NaN,"Daiki Shigeoka, Tomohiro Kamiyama, Kaya Kiyoha...",Japan,"August 1, 2018",2018,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",High schooler Ayumi's perfect world evaporates...
682,80044545,Movie,Beasts of No Nation,Cary Joji Fukunaga,"Idris Elba, Abraham Attah, Kurt Egyiawan, Jude...",United States,"October 16, 2015",2015,NR,137 min,"Dramas, Independent Movies","When civil war tears his family apart, a young..."
6196,80127464,TV Show,Mar de PlÃ¡stico,NaN,"Rodolfo Sancho, BelÃ©n LÃ³pez, Pedro Casablanc...",Spain,"April 27, 2017",2017,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",In a town in southern Spain where racial tensi...
5101,80035685,TV Show,Los tiempos de Pablo Escobar,Alessandro Angulo,NaN,Colombia,"August 1, 2018",2012,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Featuring never-before-seen images, personal t..."

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

# Data Cleaning and Manipulation

## Let's create a copy of dataset

In [87]:
netflix = df.copy()
netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
64,80239337,TV Show,Ben 10,NaN,"Tara Strong, Montse Hernandez, David Kaye, Rog...",United States,"September 30, 2018",2016,TV-Y7,1 Season,Kids' TV,Ben can transform into ten types of aliens. He...
527,80221210,TV Show,Brotherhood,NaN,"Naruna Costa, Seu Jorge, Hermila Guedes, Lee T...",Brazil,"October 25, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",An honest lawyer reaches a moral crossroads af...
5129,80157177,TV Show,Bountiful Blessings,NaN,"Jessica Hsuan, Tay Ping Hui, Thomas Ong, Jeffr...",NaN,"August 1, 2017",2011,TV-14,1 Season,"International TV Shows, TV Dramas, TV Sci-Fi &...",A former mortal who is now the Kitchen God coo...
5654,80991060,TV Show,Flavorful Origins,NaN,Yang Chen,China,"October 30, 2019",2019,TV-G,2 Seasons,"Docuseries, International TV Shows",Delve into the delectable world of Chaoshan cu...
4033,80990612,TV Show,Sword Art Online Alternative: Gun Gale Online,NaN,"Tomori Kusunoki, Yoko Hikasa, Kazuyuki Okitsu,...",Japan,"February 1, 2019",2018,TV-14,1 Season,"Anime Series, International TV Shows",College student Karen takes up Gun Gale Online...

## Lets find if there are any Duplicated values

In [88]:
netflix.duplicated().sum()

0

## Lets identify columns with missing values

In [89]:
netflix.isna().sum().sort_values(ascending = False)

director        1969
cast             570
country          476
date_added        11
rating            10
show_id            0
type               0
title              0
release_year       0
duration           0
listed_in          0
description        0
dtype: int64

## Dealing with missing values

###  Directors

In [90]:
no_director = netflix[netflix['director'].isnull()].index
no_director

Index([   1,    2,    3,    5,    8,   12,   17,   26,   28,   34,
       ...
       6224, 6225, 6226, 6227, 6228, 6229, 6230, 6231, 6232, 6233],
      dtype='int64', length=1969)

In [91]:
netflix.drop(no_director,axis = 0 , inplace = True)
netflix.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            356
country         171
date_added        0
release_year      0
rating            6
duration          0
listed_in         0
description       0
dtype: int64

## Dropping rows for columns with very few null values

### Rating

In [92]:
netflix.dropna(subset=['rating'],axis = 0 , inplace = True)

In [93]:
netflix.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            354
country         169
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

## Replacing missing values

### Country

In [94]:
netflix['country'] = netflix['country'].fillna("Unknown")

In [95]:
netflix.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            354
country           0
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

In [96]:
netflix.country.value_counts()

country
United States                             1472
India                                      721
United Kingdom                             175
Unknown                                    169
Canada                                      88
                                          ...
Spain, France, Uruguay                       1
Chile, Argentina                             1
Czech Republic, Slovakia                     1
Denmark, France, United States, Sweden       1
United Kingdom, Russia                       1
Name: count, Length: 483, dtype: int64

### Cast

In [97]:
netflix['cast'] = netflix['cast'].fillna("No cast")
netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [98]:
netflix.cast.value_counts()

cast
No cast                                                                                                                                     354
Samuel West                                                                                                                                  10
Jeff Dunham                                                                                                                                   7
Jim Gaffigan                                                                                                                                  5
Bill Burr                                                                                                                                     5
                                                                                                                                           ...
William Hurt                                                                                                                                  1
Vir Das, Sandeepa Dhar, Dimple Kapadia, Kunaal Roy Kapur, Deepak Tijori                                                                       1
Andy McAvin, James Faulkner, Luci Christian, John Swasey                                                                                      1
Harry Benson                                                                                                                                  1
Ali Atay, Melis Birkan, Serkan Keskin, Ahmet MÃ¼mtaz Taylan, Cengiz Bozkurt, Osman Sonant, KÃ¶ksal EngÃ¼r, Ege Tanman, Ä°Åtar GÃ¶kseven      1
Name: count, Length: 3783, dtype: int64

# Duration

Duration is divided into two types - Seasons & Minutes .

Seasons associates with TV shows.

Minutes associates with Movies.

Lets combine both into a single data type .

In [99]:
# dividing duration into Movies and TV shows
movies_df = netflix.loc[(netflix['type'] == 'Movie')]
movies_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe IbÃ¡Ã±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [100]:
shows_df = netflix.loc[(netflix['type'] == 'TV Show')]
shows_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
157,81020523,TV Show,Criminal: Spain,Mariano Barroso,"Emma SuÃ¡rez, Jorge Bosch, Ãlvaro Cervantes, ...",Unknown,"September 20, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Psychological games abound between detectives ...
161,81000389,TV Show,The Hockey Girls,"Kiko Cruz Claverol, Patricia Font","Iria del RÃ­o, Nora Navas, Josep Linuesa, NatÃ...",Spain,"September 20, 2019",2019,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",The passionate members of a girls' roller hock...
247,80202129,TV Show,The Five,Mark Tonderai,"Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah ...",United Kingdom,"September 15, 2017",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, TV Dramas",Twenty years after 5-year-old Jesse disappears...
333,81004113,TV Show,Age of Rebellion,Peter Ho,"Peter Ho, Jeanine Yang, Tammy Chen, Jason Tsou...",Taiwan,"September 1, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","At their high school, a group of unruly teens ..."
466,80203920,TV Show,Nowhere Man,DJ Chen,"Alyssa Chia, Mavis Fan, Joseph Chang, Wang Po-...",Taiwan,"October 31, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",Two nefarious schemes taking place 10 years ap...

In [101]:
movies_df.loc[:,'duration'] = movies_df['duration'].astype(str).str.replace(" min", "", regex=False)
movies_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe IbÃ¡Ã±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [102]:
shows_df.loc[:,'duration'] = shows_df['duration'].astype(str).str.replace(" Season", "", regex=False)
shows_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
157,81020523,TV Show,Criminal: Spain,Mariano Barroso,"Emma SuÃ¡rez, Jorge Bosch, Ãlvaro Cervantes, ...",Unknown,"September 20, 2019",2019,TV-MA,1,"Crime TV Shows, International TV Shows, Spanis...",Psychological games abound between detectives ...
161,81000389,TV Show,The Hockey Girls,"Kiko Cruz Claverol, Patricia Font","Iria del RÃ­o, Nora Navas, Josep Linuesa, NatÃ...",Spain,"September 20, 2019",2019,TV-MA,1,"International TV Shows, TV Comedies, TV Dramas",The passionate members of a girls' roller hock...
247,80202129,TV Show,The Five,Mark Tonderai,"Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah ...",United Kingdom,"September 15, 2017",2016,TV-MA,1,"British TV Shows, Crime TV Shows, TV Dramas",Twenty years after 5-year-old Jesse disappears...
333,81004113,TV Show,Age of Rebellion,Peter Ho,"Peter Ho, Jeanine Yang, Tammy Chen, Jason Tsou...",Taiwan,"September 1, 2018",2018,TV-MA,1,"Crime TV Shows, International TV Shows, TV Dramas","At their high school, a group of unruly teens ..."
466,80203920,TV Show,Nowhere Man,DJ Chen,"Alyssa Chia, Mavis Fan, Joseph Chang, Wang Po-...",Taiwan,"October 31, 2019",2019,TV-MA,1,"Crime TV Shows, International TV Shows, TV Act...",Two nefarious schemes taking place 10 years ap...

In [103]:
shows_df.loc[:,'duration'] = shows_df['duration'].astype(str).str.replace("s", "", regex=False)
shows_df.duration.sample(5)

6064    8
5594    5
877     1
2015    1
247     1
Name: duration, dtype: object

In [104]:
shows_df.duration.value_counts()

duration
1     93
2      9
4      7
3      5
5      4
7      3
8      3
6      2
9      1
14     1
Name: count, dtype: int64

# Changing Data types

## Date added

In [105]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'].str.strip(), format="%B %d, %Y", errors='coerce')

In [106]:
netflix[['date_added']]

     date_added
0    2019-09-09
4    2017-09-08
6    2017-09-08
7    2017-09-08
9    2017-09-08
...         ...
6142 2019-08-30
6158 2019-08-02
6167 2019-08-15
6182 2019-04-09
6213 2017-04-15

[4259 rows x 1 columns]

In [107]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4259 entries, 0 to 6213
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4259 non-null   int64
 1   type          4259 non-null   object
 2   title         4259 non-null   object
 3   director      4259 non-null   object
 4   cast          4259 non-null   object
 5   country       4259 non-null   object
 6   date_added    4259 non-null   datetime64[ns]
 7   release_year  4259 non-null   int64
 8   rating        4259 non-null   object
 9   duration      4259 non-null   object
 10  listed_in     4259 non-null   object
 11  description   4259 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 432.6+ KB

## We have cleaned the data now its ready for the final Visualisation and Analysis!!